-- MySQL dump 10.13  Distrib 9.1.0, for Win64 (x86_64)
--
-- Host: localhost    Database: sports_club_system
-- ------------------------------------------------------
-- Server version	9.1.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `club_equipment`
--

DROP TABLE IF EXISTS `club_equipment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `club_equipment` (
  `id` int NOT NULL AUTO_INCREMENT,
  `club_id` int NOT NULL,
  `equipment_type_id` int NOT NULL,
  `quantity` int NOT NULL COMMENT 'Must be at least 1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_equipment_club` (`club_id`),
  KEY `idx_equipment_type` (`equipment_type_id`),
  KEY `idx_equipment_created_at` (`created_at`),
  CONSTRAINT `club_equipment_ibfk_1` FOREIGN KEY (`club_id`) REFERENCES `clubs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `club_equipment_ibfk_2` FOREIGN KEY (`equipment_type_id`) REFERENCES `equipment_types` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `club_equipment_chk_1` CHECK ((`quantity` >= 1))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `club_equipment`
--

LOCK TABLES `club_equipment` WRITE;
/*!40000 ALTER TABLE `club_equipment` DISABLE KEYS */;
/*!40000 ALTER TABLE `club_equipment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `club_reorganizations`
--

DROP TABLE IF EXISTS `club_reorganizations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `club_reorganizations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `club_id` int NOT NULL,
  `reorg_date` date NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_reorg_per_club_date` (`club_id`,`reorg_date`),
  KEY `idx_reorg_club` (`club_id`),
  KEY `idx_reorg_date` (`reorg_date`),
  CONSTRAINT `club_reorganizations_ibfk_1` FOREIGN KEY (`club_id`) REFERENCES `clubs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `club_reorganizations`
--

LOCK TABLES `club_reorganizations` WRITE;
/*!40000 ALTER TABLE `club_reorganizations` DISABLE KEYS */;
/*!40000 ALTER TABLE `club_reorganizations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clubs`
--

DROP TABLE IF EXISTS `clubs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clubs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `reg_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Format: ?????????/?????????????????????/{???|???|???}/{digits}',
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `registration_date` date NOT NULL,
  `date_entry_type` enum('auto','manual') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'auto' COMMENT 'auto=system date, manual=user entered past date',
  `chairman_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `chairman_address` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `chairman_phone` char(10) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '10 digit phone number',
  `secretary_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `secretary_address` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `secretary_phone` char(10) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '10 digit phone number',
  `gn_division_id` int DEFAULT NULL COMMENT 'NULL allowed if GN division not yet created',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `reg_number` (`reg_number`),
  KEY `idx_club_reg_number` (`reg_number`),
  KEY `idx_club_name` (`name`),
  KEY `idx_club_reg_date` (`registration_date`),
  KEY `idx_club_gn_division` (`gn_division_id`),
  CONSTRAINT `clubs_ibfk_1` FOREIGN KEY (`gn_division_id`) REFERENCES `grama_niladhari_divisions` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clubs`
--

LOCK TABLES `clubs` WRITE;
/*!40000 ALTER TABLE `clubs` DISABLE KEYS */;
/*!40000 ALTER TABLE `clubs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `districts`
--

DROP TABLE IF EXISTS `districts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `districts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `sinhala_letter` varchar(5) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'District letter for reg number: ???/???/???',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `idx_district_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `districts`
--

LOCK TABLES `districts` WRITE;
/*!40000 ALTER TABLE `districts` DISABLE KEYS */;
INSERT INTO `districts` VALUES (1,'Galle','???','2026-01-04 21:57:12'),(2,'Matara','???','2026-01-04 21:57:12'),(3,'Hambantota','???','2026-01-04 21:57:12');
/*!40000 ALTER TABLE `districts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `divisions`
--

DROP TABLE IF EXISTS `divisions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `divisions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `district_id` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_division_per_district` (`name`,`district_id`),
  KEY `idx_division_name` (`name`),
  KEY `idx_division_district` (`district_id`),
  CONSTRAINT `divisions_ibfk_1` FOREIGN KEY (`district_id`) REFERENCES `districts` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `divisions`
--

LOCK TABLES `divisions` WRITE;
/*!40000 ALTER TABLE `divisions` DISABLE KEYS */;
/*!40000 ALTER TABLE `divisions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipment_types`
--

DROP TABLE IF EXISTS `equipment_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipment_types` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_standard` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'TRUE for predefined types, FALSE for custom',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `idx_equipment_name` (`name`),
  KEY `idx_equipment_standard` (`is_standard`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipment_types`
--

LOCK TABLES `equipment_types` WRITE;
/*!40000 ALTER TABLE `equipment_types` DISABLE KEYS */;
INSERT INTO `equipment_types` VALUES (1,'Volleyball',1,'2026-01-04 21:57:12'),(2,'Volleyball Net',1,'2026-01-04 21:57:12'),(3,'Netball',1,'2026-01-04 21:57:12'),(4,'Football',1,'2026-01-04 21:57:12'),(5,'Tennis Ball',1,'2026-01-04 21:57:12'),(6,'Cricket Bat',1,'2026-01-04 21:57:12'),(7,'Wicket Set',1,'2026-01-04 21:57:12');
/*!40000 ALTER TABLE `equipment_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grama_niladhari_divisions`
--

DROP TABLE IF EXISTS `grama_niladhari_divisions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `grama_niladhari_divisions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `division_id` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_gn_per_division` (`name`,`division_id`),
  KEY `idx_gn_name` (`name`),
  KEY `idx_gn_division` (`division_id`),
  CONSTRAINT `grama_niladhari_divisions_ibfk_1` FOREIGN KEY (`division_id`) REFERENCES `divisions` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grama_niladhari_divisions`
--

LOCK TABLES `grama_niladhari_divisions` WRITE;
/*!40000 ALTER TABLE `grama_niladhari_divisions` DISABLE KEYS */;
/*!40000 ALTER TABLE `grama_niladhari_divisions` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-05  4:05:13
